<div class="text-bg-light p-3">
  <h1 class=" text-center text-white  p-3 m-1" > Welcome to Pups & Pubs </h1>
  
  <p class="lead text-center text-white"> Log in or create an account to find dog friendly pubs near you!</p>
</div>



