<style>
  body{
    background-image:url("./images/butters.jpeg") !important ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
</style>


<div class="p-3">
  <h1 class=" text-center text-success  p-3 m-1" > Welcome to Pups & Pubs </h1> 
  <p class="lead text-center text-success"> Log in or create an account to find dog friendly pubs near you!</p>
  
</div>





