<!-- show a form to add or edit comments on their favorited pubs-->
<div class="container">
<h2> Add pub rating here </h2>

<form method="POST" action="/user_notes">
     <div>  
          <label for="name"> Name:</label>
          <input type="text" name="name">
     </div> 
     <div>  
          <label for="visitDate"> Visit Date:</label>
          <input type="date" name="visitDate">
     </div> 
     <div>  
          <label for="pupFriendly"> How pup friendly is this pub?:</label>
          <input type="text" name="pupFriendly">
     </div> 
     <div>   
          <label for="beers"> Were the beers tasty?:</label>
          <input type="text" name="beers">
     </div> 
     <div>   
          <label for="food">How was the food?:</label>
          <input type="text" name="food">
     </div>  
     <div>  
          <label for="comments">Share your thoughts:</label>
          <textarea cols="50" rows="5" name="comments"></textarea>
     </div> 
     <div>
      <input hidden value="<%= pub.id %>" name="pubId"/> -->
     </div> 
<input type="submit">
</form>  
</div>


<!--ratings one to five paws
     pup friendly 
     beverages
     food 
     comments: -->