<!-- show a form to add or edit comments on their favorited pubs-->
<div class="container">
<h2> Add pub rating here </h2>

<form method="POST" action="/user_notes">
     <div>  
          <label for="name"> Name:</label>
          <input type="text" name="name">
     </div> 
     <div>  
          <label for="visitDate"> Visit Date:</label>
          <input type="date" name="visitDate" required>
     </div> 
     <div>  
          <label for="pupFriendly"> How pup friendly is this pub?:</label>
          <input type="text" name="pupFriendly" required>
     </div> 
     <div>   
          <label for="beers"> Were the beers tasty?:</label>
          <input type="text" name="beers" required>
     </div> 
     <div>   
          <label for="food">How was the food?:</label>
          <input type="text" name="food" required>
     </div>  
     <div>  
          <label for="comments">Share your thoughts:</label>
          <textarea cols="30" rows="3" name="comments" required></textarea>
     </div> 
     <div>
      <input hidden value="<%= pub.id %>" name="pubId"/> -->
     </div> 
<input type="submit">
</form>  
</div>


