<div class="container"
<h2> Update your comments</h2>
<h3> On a scale of 1-5 paws</h3>
<form method="POST" action="/user_notes/comments/<%=pub.id %>/?_method=PUT">
     <div>  
          <label for="visitDate"> Visit Date:</label>
          <input type="date" name="visitDate">
     </div> 
    <div>  
         <label for="pupFriendly"> How pup friendly is this pub?:</label>
         <input type="number" max="5" min="0"name="pupFriendly">
    </div> 
    <div>   
         <label for="beers"> Were the beers tasty?:</label>
         <input type="number" max="5" min="0" name="beers">
    </div> 
    <div>   
         <label for="food">How was the food?:</label>
         <input type="number" max="5" min="0" name="food">
    </div>  
    <div>  
         <label for="comments">Other comments here:</label>
         <textarea cols="50" rows="5" name="comments"></textarea>
    </div> 
    <div> 
  <!-- <input hidden value="<%= //pubs.id %>" name="pubId"/>  -->
    </div> 
<input type="submit">
</form>
</div>  