
<% if (message) { %>
   <p><%= message %></p> 
<%}%>

<!-- copied from new  -->
<form action="/users/login" method="POST">
    <div class="mb-3"> 
        <label for="email" class="form-label"> Email </label>
        <input id ="email" type="email" name="email" required class="form-control" id="email" aria-describedby="emailHelp"> 
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3"> 
        <label for="password" class="form-label" > Password </label>
        <input id ="password" type="password" name="password" required class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary"> Log in </button>
</form>