<!-- form for user to search for pubs near them -->
<h1> Search for a pup friendly pub near you</h1>

<form method="GET" action="/pubs/index.ejs">
    <label for = "search-input"> Search: </label>
    <input type = "text" placeholder = "Enter your city here" name="userInput"/>
    <button type = "submit">Submit</button>
</form>

