<!-- show a list of pubs that match the user querie -->

<h1> Pubs Near You</h1>

<div>
    <ul>
       <% pubs.forEach(pub=>{ %>
            <li> <%= pub.name %></li>
            <li> <%= pub.street %> </li>
            <li> <%= pub.city %></li>
            <li> <%= pub.website_url %></li>
           
       <% })%>
    
    </ul>
</div>