<!-- show a list of pubs that match the user querie -->

<h1> Pubs Near You</h1>

<div>
    <ul>
       <% pubs.forEach(pub=>{ %>
            <li> <%= pub.name %> </a> <br>
                 <%= pub.street %> <br>
                 <%= pub.city %> <br>
            <a href = "/details"> More Information</a>
            <br>
        </li>
       
       <% })%>
    
    </ul>
</div>